<div class="your-events">
    <div class="container">
        <div class="head-panel">
            <h1>Your Upcoming Events</h1>
            <!-- <button class="material-symbols-outlined">search</button> -->
          </div>
          <div class="all-filtered-events">
            <!-- <p-timeline [value]="events">
                      <ng-template #content let-event>
                          {{ event.status }}
                      </ng-template>
                  </p-timeline> -->
      
            @if(allTickets.length > 0){
                @for (item of allTickets; track $index) {
                    <app-event-card [event]="item.event" [payemnt]="item" />
                    }
            } @else if (allTickets.length == 0) {
                <span>You have no upcoming events!</span>
            }
          </div>
    </div>
</div>