<div class="discover">
  <div class="container">
    <div class="header">
      <h1>Discover Events</h1>
      <p>
        Explore popular events near you, browse by category, or check out some
        of the great community calendars.
      </p>
    </div>
    <div class="categories">
        <div class="by-type">
            <span class="title">Browse by Category</span>
           <div class="all-types">
            @for (type of AllTypes; track $index) {
                <app-category-cards [routerLink]="['/filtered-events']" [queryParams]="{type: type.type}" [allTypes]="type"/>
            }
           </div>
        </div>
        <div class="by-country">
            <span class="title">Browse by Country</span>
        </div>
    </div>
  </div>
</div>
